@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brawler&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::after{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Neuton', serif;
}

a{
  text-decoration: none;
  color: #929293;
}
a::after{
    color:rgb(157, 20, 199);
}
a:hover{
    color:rgb(225, 222, 225);
}

.intro{
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  background-color: transparent;
  width:100%;
  height:auto;
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.logo{
  height:100%;
  width:17vw;
  padding:28px;
  padding-left: 0px;
}

.sideicon{
  cursor:pointer;
  padding: 28px;
  padding-right: 5px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(107, 64, 163);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f87ef8;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {font-size: 18px;}
}

img 
{
    width:100%;
    height: 30vw;
}

    
#homepage{
    height: 90vh;
    display: flex;
    align-items:center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.title{
      width:60%;
      color:white;
      padding-top: 5vw;
      padding-bottom: 5vw;
      height: auto;
      display: grid;
      align-items: center;
}

.AI{
    font-family: 'Philosopher', sans-serif;
    font-size: 3.7vw;
    padding: 3vw;
    color: white;
    font-weight: 700;
    padding-top: 4vw;
    padding-bottom: 0px;
    animation: fadeIn 5s;
}

.random{
  font-size:20px;
  padding: 3vw;
  padding-top: 2.5vw;
    padding-bottom: 0%;
    line-height: 1.8vw;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.more{
    height: 3vw;
    width: 13vw;
    background-color: #6b40a3;
    color: white;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    position: relative;
    margin-bottom: 4vw;
    border-radius: 4vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
    cursor: pointer;
    border: 0px;
}

@keyframes stretch {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.83);
  }
}

.more:hover{
  background-color: rgb(152, 98, 223);
}

.more a{
  color:white;
}

@media screen and (max-width: 900px) {

  .logo{
    height:6vh;
    width:38vw;
    padding:0px;
    padding-left: 0px;
  }
  #homepage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
    height:90vw;
  }
  .title{
    height: fit-content;
    font-size: 2.5vw;
    width:80vw;
    z-index: 1;
  }
  .AI{
    font-size: 7vw;
    padding-left:2vw;
    padding-top:9vw;
  }
  .random{
    padding:5vw;
    padding-left:2vw;
    padding-bottom: 0%;
    line-height:5vw;
    font-weight: 400;
    font-size:3.5vw;
  }
  .more{
    height: 8vw;
    color: white;
    font-weight: 800;
    width: 30vw;
    font-size: 2.5vw;
}
}

.contents{
    background-color: #22073d;
    height: 40vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.reshead{
    color:antiquewhite;
    font-family: 'Arapey', serif;
}
.research, .research2, .research3{
    background-color: transparent;
    height: 32vw;
    text-align: center;
    width: 30%;
    padding: 0.8vw;
    font-size: 2.5vw;
}

.research2{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  height: 100%;
}
.research,.research3{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.con-link{
    text-decoration: none;
}
.con-link:hover {
  transform: translateY(-10px);
}

.details{
  color: white;
  font-size: 1.8vw;
}


@media screen and (max-width: 800px) {
  
  .contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200vw;
    padding: 3vw;
    width: auto;  
    background-color: #22073d;
    
  }
  .research, .research2, .research3{
    width: 70vw;
    height: auto;
    font-size: 5vw;
  }
.details{
  align-self: center;
  width:auto;
  height: auto;
  box-sizing: border-box;
  font-size: 3vw;
}
}

.row{
  display: flex;
  height: auto;
}
.newsdiv{
    width:70%;
    height:auto;
    background-color: lavender;
}
#blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading h3{
  font-family: 'Brawler', serif;
  padding-top: 8%;
  font-size: 2.4rem;
  color:#6c40a5;
  font-weight: 600;
}

.blog-container{
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box{
  width: 29%;
  background-color: rgb(107, 64, 163);
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin:20px;
}

.blog-box:hover {
  transform: translateY(-10px);
}

.blog-img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-img img{
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  border-bottom-left-radius:0px ;
  border-bottom-right-radius:0px ;
  object-fit: cover;
  object-position: center;
}

.blog-text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-text span{
  color:#ffc4ff;
  font-size:2vh;
}

.blog-text .blog-title{
  font-size:3vh;
  font-weight: 500;
  color:white;
}

.blog-text .blog-title:hover{
  color:#f87ef8;
  transition: all ease 0.3s;
}

.blog-text p{
  color:#d6d6d6;
  font-size: 2.8vh;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin:20px 0px;
}

.blog-text a{
  color:white;
}

.blog-text a:hover{
  color:#f87ef8;;
  transition: all ease 0.3s;
}

@media(max-width:1250px) {
  .blog-box{
    width:300px;
  }
}

@media(max-width:1100px)
{
  .blog-box{
    width:70%;
  }
  .newsdiv{
    width:100%;
    height:fit-content;
    background-color: lavender;
}
}
@media(max-width:550px)
{
  .blog-box{
    margin:20px 10px;
    width:100%;
  }
  #blog{
    padding: 20px;
  }
}

.fa-chevron-circle-left, .fa-chevron-circle-right{
  color:#4e2d70;
}
.fa-chevron-circle-left:hover{
  color: rgb(107, 64, 163);
}
.fa-chevron-circle-right:hover{
  color: rgb(107, 64, 163);
}

.eventsdiv{
  width:30%;
  height: auto;
  font-size: 1.5vw;
  z-index: 1;
  background-color: #000000;
}

.newshead{
  font-size: 2.4rem;
  font-family: 'Brawler', serif;
  color:white;
  font-weight: 600;
  padding: 4%;
  text-align: center;
}

.eventnum{
  width: 100%;
  height:auto;
  background-color: lavender;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  align-items: center;
  -webkit-transition: background 0.5s; /* For Safari 3.0 to 6.0 */
  transition: background 0.5s;
  cursor: pointer;
}

.eventnum:hover {
  background: rgb(107, 64, 163);
  color:white;
}

.eventimg{
  width: 45%;
  height:100%;
}

.events{
  font-family: 'Neuton', serif;
  width:55%;
  height: 100%;
  padding: 0.5vw;
  font-size:1.3vw;
}

.eventmore{
  color: white;
  height:auto;
  padding: 1.3vh;
  width: 100%;
  background-color: #4e2d70;
  font-size: 3vh;
  cursor: pointer;
}

.eventmore:hover{
  background-color: rgb(152, 98, 223);
}

@media(max-width:1100px)
{
  .blog-img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .blog-img img{
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;
    object-fit: cover;
    object-position: center;
  }
  .eventsdiv{
    width:100%;
    height: auto;
    font-size: 1.5vw;
    z-index: 1;
    background-color:#000000;
  }

  .eventnum{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height:auto;
    background-color: lavender;
    display: flex;
    align-items: center;
  }
  
  .eventimg{
    width: 30%;
    height:100%;
  }
  
  .events{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:100%;
    height: fit-content;
    box-shadow: none;
    font-size:3vw;
  }
  .eventnum:hover {
    background: rgb(107, 64, 163);
    color: white;
  }
}


@media screen and (max-width: 1100px) {
  
  .row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: auto;
  }
}

.cap{
  background-color:#22073d;
  height: auto;
  padding: 2vh;
}
.capstone{
  background-color: #22073d;
  height: 300px;
  padding: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Yeseva One', cursive;
  display: flex;
}

.more1{
    height: 4vw;
    width: 25vw;
    background-color: rgb(107, 64, 163);
    box-shadow: rgba(0, 0, 0, 0.5)inset 0 0 10px;
    color: white;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    left:0.1vw;
    position: relative;
    border-radius: 4vw;
    border-top-left-radius: 0vh;
    border-bottom-right-radius: 0vh;
}

:root {
  --m-auto: 0 auto;
  --white: #fff;
  --bg-counter: #22073d;
  --bg-item: #4e2d70;
}
.container {
  width: 100%;
}

#section_counter {
  background: var(--bg-counter);
}
#section_counter {
  padding: 5vh;
  text-align: center;
  letter-spacing: 0.1rem;
}
.counter-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter{
  font-size: 4vh;
}

.counter-item {
  background: var(--bg-item);
  font-family: 'Yeseva One', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: auto;
  font-size: 1.5vw;
  color: white;
  padding: 2vw;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: auto;
  text-align: center;
  border-radius: 2vh;
  transition: all 0.5s ease-in-out;
}
.counter-item:hover {
  background: var(--bg-hero);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.p-total{
  font-size: 3vh;
}

@media(max-width:1000px)
{
  .counter-item {
    height: 13vh;
  }
  .p-total{
    font-size: 2vh;
  }
  .counter{
    font-size: 3vh;
  }
  .p-total{
    font-size: 1.2vh;
  }
  .counter{
    font-size: 2.5vh;
  }
}


#endmaincon{
    background-color: black;
    width: 100%;
    padding: 5%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:white;
}
.box1{
    height: auto;
    width: 100%;
    padding-left: 1%;
    font-size: 2vh;
    border-right: 1px solid white;
}

@media(max-width:1000px)
{
  .more1{
    font-size: 2vw;
    height: 6vw;
    font-weight: 2vw;
    width: 45vw;
  }
  .box1{
    font-size: 1vh;
    border-left: 0px;
}
}

