@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brawler&display=swap');

.side{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background:url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.sideicon{
    cursor:pointer;
    position: absolute;
    padding: 28px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgb(107, 64, 163);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 10;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f87ef8;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {font-size: 18px;}
  }

  .more{
    height: 50px;
    width: 190px;
    background-color: #6b40a3;
    color: white;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 4vw;
    top:120px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    border: 0px;
}

.more1{
    height: 50px;
    width: 190px;
    background-color: #6b40a3;
    color: white;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 4vw;
    top:120px;
    left:200px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    border: 0px;
}

.more:hover,.more1:hover{
    background-color: rgb(152, 98, 223);
  }
  
  .more,.more1 a{
    color:white;
  }

.side2{
    position: fixed;
    width: 600px;
    height: 1000vh;
    left: 0px;
    top: 80px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(34,7,61,1) 90%, rgba(107,64,163,1) 100%);
    overflow: hidden;
}
.dec1{
    position: absolute;
    width: 587.17px;
    height: 1218.34px;
    left: 375.67px;
    top: -850px;
    background-color: #0E0E0E;
    mix-blend-mode: screen;
    transform: rotate(30deg);
    border-radius: 4%;
}

.dec2{
    position: absolute;
    width: 891.63px;
    height: 456.69px;
    left: 212.24px;
    top: -443.17px;
    mix-blend-mode: screen;
    background: #0E0E0E;
    border-radius: 50px;
    transform: rotate(120deg);
}

.dec3{
    position: absolute;
    width: 891.63px;
    height: 456.69px;
    left: 304.24px;
    top: -548.17px;
    mix-blend-mode: screen;
    background: #0E0E0E;
    border-radius: 50px;
    transform: rotate(120deg);
}

#white{
    position: absolute;
    width: auto;
    left: 587.5px;
    height: fit-content;
    top:80px;
    z-index: 1;
    background: rgb(255, 255, 255);
    overflow: hidden;
    box-sizing: border-box;
    display: none;
}

#white1{
    position: absolute;
    width: auto;
    left: 587.5px;
    height: fit-content;
    top:80px;
    z-index: 1;
    background: rgb(255, 255, 255);
    overflow: hidden;
    box-sizing: border-box;
    display: none;
}

#publ{
    position: absolute;
    width: 295px;
    height: 70px;
    left: 43px;
    top: 198px;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    /* identical to box height */
    color: white;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8;
}

#public{
  position: relative;
  left: 43px;
  top: 198px;
  font-family: 'Philosopher', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  /* identical to box height */
  color: white;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 8;
}

.img {
    position: absolute;
    width: 232px;
    height: 50px;
    padding: 20px;
    left: 65px;
}

.dec4{
    position: absolute;
    width: 482.06px;
    height: 264.48px;
    left: -242.97px;
    top: 491.52px;
    mix-blend-mode: screen;
    background: #0E0E0E;
    border-radius: 50px;
    transform: rotate(120deg);
}

.dec5{
    position: absolute;
    width: 375.28px;
    height: 205.71px;
    left: -184.12px;
    top: 509.07px;
    mix-blend-mode: screen;
    background: #151515;
    border-radius: 50px;
    transform: rotate(120deg);
}

.dec6{
        position: absolute;
    width: 257.81px;
    height: 142.04px;
    left: -127.05px;
    top: 531.02px;
    mix-blend-mode: screen;
    background: #222222;
    border-radius: 50px;
    transform: rotate(120deg);
}


.heading{
  font-family: 'Brawler', serif;
  color:#6c40a5;
  font-weight: 600;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
  }
  
  .card{
    position: relative;
    background: #fff;
    max-width: 850px;
    width: 850px;
    height: auto;
    margin-bottom: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-info{
    position: relative;
    color: #222;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .card-info h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0px;
  }
  
  
  .pagination{
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
  }
  
  .pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
  }
  
  .pagination li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
  }
  
  .previous-page, .next-page{
    background: rgb(107, 64, 163);
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .previous-page:hover{
    transform: translateX(-5px);
  }
  
  .next-page:hover{
    transform: translateX(5px);
  }
  
  .current-page, .dots{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .active{
    background: rgb(107, 64, 163);
  }
  
  .disable{
    background: #ccc;
  }

.author{
    font-size: 13px;
    padding-bottom: 0px;
    padding-top: 0;
}

.publish{
    color:gray;
}

.title{
    font-weight:800;
    font-size: 18px;
}

.volume{
    font-size: 15px;
}

@media(max-width:800px)
{
  .side2{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(34,7,61,1) 42%, rgba(107,64,163,1) 100%);
    overflow: hidden;
}
.side{
background:url(bg.png);
}
.card{
    max-width: 300px;
    width: 300px;
    margin: 5px;
}
.img{
  height:40px;
  width:200px;
  padding:24px;
  padding-left: 5px;
}
}


.container1{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card-content1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
  }
  
  .card1{
    position: relative;
    background: #fff;
    max-width: 850px;
    width: 850px;
    height: auto;
    margin-bottom: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-info1{
    position: relative;
    color: #222;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
  }
  .play-button
{
    width: 90px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
  
  .card-info1 h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0px;
  }
  
  .author1{
    font-size: 13px;
    padding-bottom: 0px;
    padding-top: 0;
}

.publish1{
    color:gray;
}

.title1{
    font-weight:800;
    font-size: 18px;
}

.volume1{
    font-size: 15px;
}

@media(max-width:1200px)
{
    .side{
        position: absolute;
        width: 100%;
    }
    
    .side2{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    #white{
        left: 0;
        top: 730px;
        height: fit-content;
    }
    #white1{
      left: 0;
      top: 730px;
    height: fit-content;
  }
  .more{
    height: 50px;
    width: 190px;
    border-radius: 25px;
  }

  .more1{
      height: 50px;
      width: 190px;
  }
  #public{
    font-size: 45px;
  }
}

@media(max-width:800px)
{
    .card1{
        max-width: 300px;
        width: 300px;
        margin: 5px;
    }
}

  
  

